
site/node_modules/

site/npm-debug\.log

site/coverage/

.DS_Store

site/jenkins-test-results\.xml

site/test/nightwatch-reports/

site/phantomjs

site/phantomjsdriver.log

site/selenium-server-standalone-2\.48\.2\.jar

site/chromedriver

npm-debug\.log

node_modules/

application/JobAdvisor/*~
application/JobAdvisor/*.sw[mnpcod]
application/JobAdvisor/*.log
application/JobAdvisor/*.tmp
application/JobAdvisor/*.tmp.*
application/JobAdvisor/log.txt
application/JobAdvisor/*.sublime-project
application/JobAdvisor/*.sublime-workspace
application/JobAdvisor/.vscode/
application/JobAdvisor/npm-debug.log*

application/JobAdvisor/.idea/
application/JobAdvisor/.sass-cache/
application/JobAdvisor/.tmp/
application/JobAdvisor/.versions/
application/JobAdvisor/coverage/
application/JobAdvisor/dist/
application/JobAdvisor/node_modules/
application/JobAdvisor/tmp/
application/JobAdvisor/temp/
application/JobAdvisor/hooks/
application/JobAdvisor/platforms/
application/JobAdvisor/plugins/
application/JobAdvisor/plugins/android.json
application/JobAdvisor/plugins/ios.json
application/JobAdvisor/www/
application/JobAdvisor/$RECYCLE.BIN/

application/JobAdvisor/.DS_Store
application/JobAdvisor/Thumbs.db
application/JobAdvisor/UserInterfaceState.xcuserstate


site/public/uploads/
!site/public/uploads/test
