
site/node_modules/

site/npm-debug\.log

site/coverage/

.DS_Store

site/jenkins-test-results\.xml

site/test/nightwatch-reports/

site/phantomjs

site/phantomjsdriver.log

site/selenium-server-standalone-2\.48\.2\.jar

site/chromedriver

site/public/uploads/claimRequests/*
!site/public/uploads/claimRequests/.gitkeep

npm-debug\.log
