.img-del {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
}
.img-del .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-del:hover .close {
    opacity: 1;
}
