#imgProfile{
  height: 200px;
}

/*#leftFlex{
  background-color: yellow;
}
#description{
  background-color: red;
}*/
/*
#rightFlex{
  background-color: red;
}

#nameFreelancer{
  background-color: lightblue;
}

#location{
  background-color: violet;
}

#rankings{
  background-color: brown;
}
*/


.gray{
  color: #8c979a;
}



  .thumb {
      margin-right: 10px;
      margin-top: 10px;
  }

  footer {
      margin: 50px 0;
  }
