body{
	width: 100%;
	height: 100vh;
}
#main{
	width: 100%;
	height: 100%;
	/*padding: 400px;*/
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: center;
	background-color: rgb(231, 231, 231);
	transition: all 0.5s ease;
}


#header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}

#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: rgb(244, 244, 244);
	width: 100%;
	color:rgb(110, 110, 110);
	text-align: center;
	padding-top: 15px;
	transition: all 0.5s ease;

}
#search{
	margin: 20px;
	width: 600px;
	min-width: 300px;
}
#search-result{
	flex-grow: 0;
	background-color: white;
	height: 0px !important;
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	transition: all 0.5s ease;
}

.result-card{
	width: 350px;
	height: 500px;
	margin: 20px;
}

.card-img-top{
	height: 300px;
	background-image: url("../img/stock.jpg");
}

.search-btn:hover{
	cursor: pointer;
	filter: brightness(95%);
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
