/*Color Palette:
1 - rgb(46, 78, 92)
2 - rgb(78, 108, 121)
3 - rgb(222, 229, 232)
4 - rgb(231, 231, 231)*/

body, html {
   width: 100%;
   height: 100%;
}

#main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(46, 78, 92);
   transition: all 0.5s ease;
}

#header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.5s ease;
   background-color: rgb(46, 78, 92);
}

#footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: rgb(78, 108, 121);
   text-align: center;
   color: white;
}

#search {
   margin: 20px;
   width: 600px;
   min-width: 300px;
}

#main-content {
   box-shadow: inset 0px 125px 15px -125px rgba(0, 0, 0, 0.5);
   background-color: rgb(231, 231, 231);
   /*height: 0px !important;*/
   visibility: hidden;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-content: flex-start;
   justify-content: center;
   padding-bottom: 60px;
   overflow: hidden;
   transition: all 0.5s ease;
   box-sizing: border-box;
}

#sorting-buttons {
   flex-wrap: wrap !important;
   align-items: baseline;
   justify-content: space-around;
   visibility: hidden;
}

.result-card {
   width: 350px;
   margin: 15px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   transition: all 2s ease;
}

.card-img-top {
   height: 350px;
   width: 350px;
   background-size: cover;
   background-position: center top;
}

.logo {
   font-size: 40px;
   font-weight: bold;
   color: rgb(255, 255, 255);
}

.search-btn:hover {
   cursor: pointer;
   filter: brightness(95%);
   -webkit-user-select: none;
   /* Chrome/Safari */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* IE10+ */
   -o-user-select: none;
   user-select: none;
}

.filter-btn {
   color: white;
   text-align: center;
   /*width: 85px;*/
   padding-top: 10px;
   user-select: none;
}

.filter-btn:hover {
   cursor: pointer;
}

.up-arrow {
   visibility: hidden;
}

.down-arrow {
   display: none;
}

.filter-txt {
   height: 100%;
   width: 60px;
   color: white;
   background-color: rgba(0, 0, 0, 0.15);
   /*padding-top: 10px;*/
   /*padding-bottom: 10px;*/
   margin-right: 0px;
   padding-left: 10px;
   border: none;
   /*vertical-align:middle;*/
   /*border-bottom: 1px solid rgb(220,220,220);*/
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border: 0px;
   outline: none;
}

.filter-txt-span {
   color: rgb(210, 210, 210);
   background-color: rgba(0, 0, 0, 0.20);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   padding-left: 5px;
   padding-right: 5px;
   border: 0px;
   /*width: 40px;*/
   height: 100%;
   vertical-align: middle;
   box-sizing: padding-box;
   line-height: 35px;
}

.filter-txt-group {
   display: flex;
   /*align-items: baseline;*/
   /*background-color: red;*/
   margin-top: 10px;
   margin-right: 5px;
   height: 35px;
}

.price-km {
   display: flex;
   justify-content: space-between;
   color: rgb(78, 108, 121);
}

.card {
   border: none;
}

.align-right {
   float: right;
}


/*----------------------------------------
Loading Spinner
----------------------------------------*/

.circle-loader {
   margin-top: 10%;
   background: transparent;
   fill: transparent;
   stroke: rgb(78, 108, 121);
   stroke-width: 5;
   animation: dash 2s ease infinite, rotate 2s linear infinite;
}

@keyframes dash {
   0% {
      stroke-dasharray: 1, 95;
      stroke-dashoffset: 0;
   }
   50% {
      stroke-dasharray: 85, 95;
      stroke-dashoffset: -25;
   }
   100% {
      stroke-dasharray: 85, 95;
      stroke-dashoffset: -93;
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.error-red {
   color: red;
}

.error-green {
   color: green;
}


/*----------------------------------------
Button
----------------------------------------*/

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .btn-primary:visited {
   background-color: rgb(67, 105, 121);
   border-color: rgb(67, 105, 121);
   color: #fff;
}

.btn-primary {
   background-color: rgb(46, 78, 92);
   border-color: rgb(46, 78, 92);
   color: #fff;
}

.blue {
   color: rgb(46, 78, 92);
}

.light-blue {
   color: rgb(78, 108, 121);
}

.blue-background {
   background-color: rgb(46, 78, 92);
}

.blue-border {
   border-color: rgb(46, 78, 92);
}

.btn-circle {
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 6px 0;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
}


/*----------------------------------------
Error color's for freelancer update
----------------------------------------*/

.error-red {
   color: red;
}

.error-green {
   color: green;
}
